.footer{
    background: #1A1A1A;
    box-shadow: -7px -7px 30px rgba(126, 126, 126, 0.25);
    position: relative;
    width: 100%;
    height: 50vh;
    margin-top: 8rem;
}
.footer-socials{
    position: absolute;
    background-color: #1A1A1A;
    left: 2rem;
    top: 0;
}