.landing{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.landing-inner{
    width: 90vw;
    height: 100vh;
    display: flex;
    margin-left: 2rem;
}
.landing-left{
    display: flex;
    justify-content: center;
    width: 50%;
    flex-direction: column;
    gap: 2rem;
    padding-top: 9rem;
}
.landing-left a{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 28px;
    cursor: pointer;
    color: #FF4F4F;
    border: 5px solid #FF4F4F;
    filter: drop-shadow(7px 7px 25px rgba(0, 0, 0, 0.25));
    border-radius: 10px;
    display: flex;
    width: 180px;
    justify-content: center;
}
.landing-left a:hover{
    background-color: #FF4F4F;
    color: white;
}
.introduction{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    color: white;
}
.introduction span{
    color: #FF4F4F;
    font-family: 'Gemunu Libre';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
}
.landing-right{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 48%;
    position: relative;
}
.mayank{
    width: 100%;
}
.socials-landing{
    position: absolute;
    top: 20rem;
    right: -3rem;
}
@media screen and (min-width: 425px) and (max-width: 768px){
    .landing-inner{
        flex-direction: column-reverse;   
    }
    .landing-left{
        width: 100%;
    }
    .landing-right{
        width: 100%;
    }
    .socials-landing{
        top: 10rem;
        right: 0rem;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .landing-inner{
        flex-direction: column-reverse;   
    }
    .landing-left{
        width: 100%;
    }
    .landing-right{
        width: 100%;
    }
    .socials-landing{
        top: 10rem;
        right: 0rem;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1440px){
    .socials-landing{
        top: 50rem;
        right: -1.5rem;
    }
    .introduction{
        font-size: 36px;
    }
    .introduction span{
        font-size: 90px;
    }
    .landing-left a{
        font-size: 32px;
        width: 220px;
    }
}
@media screen and (min-width: 1440px) and (max-width: 2560px){
    .socials-landing{
        top: 48rem;
        right: -3.4rem;
    }
    .myworks{
        height: 100%;
        padding-bottom: 2rem;
    }
    .introduction{
        font-size: 40px;
    }
    .introduction span{
        font-size: 100px;
    }
}
@media screen and (min-width: 2560px) {
    .socials-landing {
        top: 49rem;
        right: -8.9rem;
    }
    .introduction{
        font-size: 50px;
    }
    .introduction span{
        font-size: 112px;
    }
    .landing-left a{
        font-size: 52px;
        width: 340px;
    }
    .scroll-to-top{
        right: 0.7rem;
    }
}