.myworks{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 8rem;
}
.myworks-inner{
    display: flex;
    flex-direction: column;
    width: 90vw;
}
.myworks-heading{
    font-family: 'Black Ops One';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    color: white;
}
.myworks-content{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-top: 2rem;
    justify-content: center;
}

@media screen and (max-width: 425px){
    .myworks-heading{
        font-size: 40px;
    }
    .myworks{
        margin-bottom: 5rem;
        margin-top: 5rem;
    }
}
@media screen and (min-width: 425px) and (max-width: 768px){
    .myworks-heading{
        font-size: 40px;
    }
    .myworks{
        margin-bottom: 5rem;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .myworks-heading{
        font-size: 50px;
    }
    .myworks{
        margin-bottom: 5rem;
    }
}
@media screen and (min-width: 1440px) and (max-width: 2560px){
    .myworks-heading{
        font-size: 60px;
    }
    .myworks{
        margin-bottom: 5rem;
        margin-top: 7rem;
    }
}
@media screen and (min-width: 2560px) {
    .myworks-heading{
        font-size: 112px;
    }
    .myworks{
        height: 100%;
    }
}