.socials{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}
.socials span{
    width: 4px;
    height: 150px;
    background-color: #FF4F4F;
}
.socials ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: 0;
    gap: 0.5rem;
}
.socials ul li a img{
    width: 2rem;
}
.socials ul li a img:hover{
    animation: socials 0.5s ease-in-out;
    filter: invert(1);
}
@keyframes socials{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(0);
    }
}

@media screen and (min-width: 425px) and (max-width: 768px){
    .socials span {
        display: none;
    }
}
@media screen and (min-width: 768px) and (max-width: 1024px){
    .socials ul li a img {
        width: 2rem;
    }
    .socials span {
        width: 2.3px;
    }
}
@media screen and (min-width: 1024px) and (max-width: 1440px){
    .socials span {
        width: 2.5px;
    }
}
@media screen and (min-width: 1440px) and (max-width: 2560px){
    .socials span {
        width: 3px;
    }
    .socials ul li a img{
        width: 2.5rem;
    }
}
@media screen and (min-width: 2560px) {
    .socials ul li a img{
        width: 3rem;
    }
}